@let _user = user(); @let _username = _user.username; @let _img = _user.avatar?.image;
@let _size = size(); @let _2xs = _size === '2xs'; @let _xs = _size === 'xs'; @let _sm = _size ===
'sm';
@let _md = _size === 'md'; @let _lg = _size === 'lg'; @let _xl = _size === 'xl';
<span aria-atomic="true" class="relative inline-block text-muted-color-emphasis font-normal"
      [class]="{ 
            'size-4.5': _2xs, 'size-6': _xs, 'size-10': _sm, 'size-16': _md, 'size-26': _lg, 'size-36': _xl,
            'text-xs': _2xs, 'text-sm': _xs, 'text-2xl': _sm, 'text-4xl': _md, 'text-6xl': _lg, 'text-8xl': _xl
      }">
      <span
            class="size-full inline-block rounded-full overflow-hidden bg-zinc-200 dark:bg-zinc-700">
            @if (_img) {
            <app-image [preview]="preview()" [src]="getUpdatedImgSrc()" [alt]="_username"
                       imageClass="size-full  text-[0.7em] text-center"
                       class="inline-block size-full" />
            } @else {
            <span role="img" aria-label="{{ _username || 'Anonymous user' }}"
                  class="inline-block size-full relative *:absolute *:top-1/2 *:left-1/2 *:transform-[translate(-50%,-50%)]">
                  @if (_username) {
                  <span>{{ _username[0].toUpperCase() }}</span>
                  } @else {
                  <span class="pi pi-user text-[0.7em]"></span>
                  }
            </span>
            }
      </span>
      @if (online()) {
      <span aria-label="online"
            class="absolute bottom-1/15 right-1/15 size-1/6 rounded-full bg-green-500"></span>
      }
</span>