<nav class="p-4">
  <h1 class="text-3xl font-bold text-center">{{ title }}</h1>
</nav>
@if (navigating()) {
<p class="absolute top-1/2 left-1/2 -translate-1/2 -z-50">Loading...</p>
} @else if (navErrMsg(); as _navErrMsg) {
<p class="text-red-700 text-sm max-w-lg text-center mx-auto **:inline-block **:m-1">
  <span>{{ _navErrMsg }}</span>
  <br />
  <button type="button" (click)="retryNavigation()" class="appearance-auto border">Retry</button>
</p>
} @else {
<div class="text-center space-y-4">
  <p>
    A web app that lets users send messages to each other, built as part of studying The Odin
    Project's Node.js course.
  </p>
  @if (authenticated()) {
  <button type="button" (click)="signOut()" class="appearance-auto border">Sign Out</button>
  }
</div>
<router-outlet />
}
