<nav class="p-4">
  <h1 class="text-3xl font-bold text-center">{{ title }}</h1>
</nav>
@if (navigating()) {
<p class="absolute top-1/2 left-1/2 -translate-1/2 -z-50">Loading...</p>
} @else {
<div class="text-center space-y-4">
  <p>
    A web app that lets users send messages to each other, built as part of studying The Odin
    Project's Node.js course.
  </p>
  @if (authenticated()) {
  <button type="button" (click)="signOut()" class="appearance-auto border">Sign Out</button>
  }
</div>
<router-outlet />
}
