<div>
  <header
    [class]="`absolute top-0 left-0 right-0 h-16 overflow-auto bg-primary
      flex flex-wrap justify-center items-center border-surface border-b px-2
    `"
  >
    <h1 class="text-primary-contrast text-2xl text-center font-bold p-2">
      <a routerLink="/">{{ title }}</a>
    </h1>
    <div class="ms-auto space-x-2 *:text-xs">
      <!-- prettier-ignore -->
      @let _scheme = colorScheme.scheme();
      @let _SchemeTitle= `${_scheme.value[0].toUpperCase()}${_scheme.value.slice(1)}`;
      <button
        pButton
        pRipple
        rounded
        size="small"
        type="button"
        [icon]="_scheme.icon"
        (click)="colorScheme.switch()"
        aria-label="Switch color scheme. {{ _SchemeTitle }} selected."
      ></button>
      @if (auth.user()) {
      <button
        pButton
        pRipple
        rounded
        size="small"
        type="button"
        icon="pi pi-sign-out"
        aria-label="Sign Out"
        (click)="signOut()"
      ></button>
      }
    </div>
  </header>
  <div [class]="`absolute top-16 left-0 right-0 bottom-0 overflow-auto`">
    @if (navigating() || navErrMsg()) {
    <main class="absolute top-1/2 left-1/2 -translate-1/2 z-50">
      @if (navErrMsg(); as _navErrMsg) {
      <app-error-message [message]="_navErrMsg" (retry)="retryNavigation()" />
      } @else {
      <app-spinner ariaLabel="Loading..." />
      }
    </main>
    } @else {
    <main class="size-full">
      <router-outlet />
    </main>
    }
  </div>
</div>

<p-toast position="bottom-right" />
