<!-- prettier-ignore -->
@let _store = store(); @let _storeList = _store.list(); @let _pluralLabel = pluralLabel();
<div class="relative size-full overflow-auto">
  @if (![false, 'false', undefined].includes(searchable())) {
  <div class="relative">
    <input #searchbox pInputText fluid pSize="small" placeholder="Search" aria-label="Search"
           id="profiles-search-box" class="shadow-none rounded-none pe-9" [value]="searchValue()"
           (input)="searched.emit($event.target.value)" />
    @if (searchbox.value) {
    <button pButton pRipple text outlined rounded type="submit" size="small" severity="secondary"
            aria-label="Clear search" icon="pi pi-times-circle"
            class="absolute top-1/2 right-0.5 transform-[translateY(-50%)]"
            (click)="(searchbox.value = ''); searched.emit('')"></button>
    }
  </div>
  }
  @if (_storeList.length) {
  <ul aria-label="{{ singularLabel() }} list">
    @for (_listItem of _storeList; track _listItem.id) {
    <li>
      <ng-container [ngTemplateOutlet]="itemFragment()"
                    [ngTemplateOutletContext]="{ $implicit: _listItem }" />
    </li>
    }
  </ul>
  }
  <app-list-loader [pluralLabel]="_pluralLabel" [listSize]="_storeList.length"
                   [loadError]="_store.loadError()" [loading]="_store.loading()"
                   [hasMore]="_store.hasMore()" (loaded)="_store.load()">
    @if (!_storeList.length) {
    <p class="text-muted-color">There are no {{ _pluralLabel.toLowerCase() }}.</p>
    }
  </app-list-loader>
</div>