<ng-template #li let-_chat>
  @let _title = chats.generateTitle(_chat);
  @let _otherMembers = chats.getOtherProfiles(_chat);
  @let _member = _otherMembers[0] ? {
  user: _otherMembers[0].profile?.user || { username: _otherMembers[0].profileName },
  profile: _otherMembers[0].profile,
  } : { user: {}, profile: null };
  <a pRipple [title]="_title" ariaCurrentWhenActive="page" routerLinkActive="bg-highlight"
     [routerLink]="['/chats', _chat.id]" [routerLinkActiveOptions]="{ exact: true }"
     class="block leading-tight w-full p-2 py-3 border-surface border-b **:align-middle">
    <app-avatar [user]="_member.user" [profile]="_member.profile" size="sm"
                class="text-center size-12 me-2" />
    <!-- ** NOTE: The following calculated widths are dependent ** -->
    <span class="inline-block w-[calc(100%-4rem)]">
      @let _newMessagesCount = countNewMessages(_chat);
      <span class="w-full inline-flex justify-between items-center">
        <span
              class="inline-block w-[calc(100%-4rem)] truncate text-lg font-semibold tracking-wider">
          {{ _title || 'Anonymous' }}
        </span>
        @if (_chat.messages[0]?.createdAt; as _recentMsgDate) {
        <time [attr.datetime]="_recentMsgDate" class="text-xs tracking-tighter font-light"
              [class]="[_newMessagesCount ? 'text-primary' : 'text-muted-color']">
          @let _distanceDays = getDistanceDays(_recentMsgDate);
          {{
            _distanceDays === 1
              ? 'Yesterday'
              : _distanceDays === 0
              ? (_recentMsgDate | date : 'shortTime')
              : (_recentMsgDate | date : 'mediumDate')
          }}
        </time>
        }
      </span>
      <br />
      <span class="w-full inline-flex justify-between items-center">
        <span
              class="inline-block w-[calc(100%-4rem)] truncate text-muted-color text-sm **:text-sm font-light tracking-tighter">
          @if (_chat.messages[0]?.body; as _lastMessageBody) {
          {{ _lastMessageBody }}
          } @else if (_chat.messages[0]?.image) {
          <span class="pi pi-image opacity-75" aria-label="Image-Only message"></span>
          }
        </span>
        @if (_newMessagesCount) {
        <p-badge [value]="_newMessagesCount < 100 ? _newMessagesCount : '+99'" class="text-center"
                 badgeSize="small" />
        }
      </span>
    </span>
  </a>
</ng-template>
<app-list [store]="chats" singularLabel="Chat" pluralLabel="Chats" [itemFragment]="li" />