<div class="relative">
  @if (profiles.loading()) {
  <p class="absolute top-0 left-0 -translate-1/2 z-30">Loading profiles...</p>
  } @else if (profiles.loadError(); as _loadError) {
  <p class="text-red-700 text-sm **:inline-block **:m-1">
    <span>{{ _loadError }}</span>
    <br />
    <button type="button" (click)="profiles.load()" class="appearance-auto border">Retry</button>
  </p>
  } @else {
  <!-- prettier-ignore -->
  @let _profileList = profiles.list();
  @if (_profileList.length > 0) {
  <ul #listContainer aria-label="Profile list">
    @for (_profile of _profileList; track _profile.id) {
    <li class="border-b">
      <a
        [ariaCurrentWhenActive]="true"
        routerLinkActive="bg-gray-100"
        [title]="_profile.user.username"
        [routerLink]="['/profiles', _profile.id]"
        class="block size-full p-2 hover:bg-gray-50 truncate"
      >
        {{ _profile.user.username }}
      </a>
    </li>
    }
    <!-- prettier-ignore -->
    @if(profiles.canLoadMore()) {
    <div class="text-gray-500 text-center text-sm p-2">
      @if(profiles.loadingMore()) {
      <p>Loading more profiles...</p>
      } @else if (profiles.loadMoreError(); as _loadMoreError) {
      <p class="text-red-700">
        <span>{{ _loadMoreError }}</span>
        <br />
        <button type="button" (click)="profiles.loadMore()" class="border">Retry</button>
      </p>
      } @else {
      <button
        #loadMoreBtn
        type="button"
        (click)="profiles.loadMore()"
        class="cursor-pointer hover:underline"
      >
        Load more
      </button>
      }
    </div>
    }
    <!-- prettier-ignore -->
  </ul>
  } @else {
  <p>There are no profiles.</p>
  } }
</div>
