@let _user = user(); @let _title = title();
@let _chat = chat(); @let _profile = profile();
@let _chatId = _chat?.id || chatId(); @let _profileId = _profile?.id || profileId();
<div class="relative size-full overflow-auto flex flex-col" [aria-label]="`${_title} chat room`">
  <nav class="bg-(--p-content-background) border-surface border-b">
    <div class="size-full flex justify-between items-center">
      <a pButton pRipple text rounded outlined size="small" routerLink=".." aria-label="Go back"
         icon="pi pi-arrow-left"></a>
      <span class="grow relative h-full">
        <span class="absolute top-1/2 left-0 w-full transform-[translateY(-50%)] truncate text-lg text-primary text-center font-bold tracking-wider"
              [title]="_title">
          @if (_title.url) {
          <a [routerLink]="_title.url">
            {{ _title.label }}
          </a>
          } @else {
          {{ _title.label }}
          }
        </span>
      </span>
      <button pButton pRipple text rounded outlined size="small" type="button" aria-label="Update"
              icon="pi pi-refresh" (click)="update()"></button>
    </div>
  </nav>
  <div #messagesContainer aria-live="assertive" aria-label="Messages"
       class="grow overflow-auto flex flex-col-reverse px-2">
    @if (_chat) {
    <div>
      <div class="flex flex-col-reverse justify-end min-h-full space-y-4">
        @if(messages.loadingRecent()) {
        <app-spinner ariaLabel="Updating chat messages..." />
        } @else if (messages.loadRecentError(); as _loadRecentError) {
        <app-error-message [message]="_loadRecentError"
                           (retry)="messages.loadRecent(_chat.id, _user.username)" />
        }
        @let _messages = messages.list();
        @for (_msg of _messages; track _msg.id) {
        @let _fromCurrentUser = _msg.profileName === _user.username;
        @if (_msg.body || _msg.image) {
        <article aria-label="Message from {{_msg.profileName}}" aria-atomic="true"
                 [class]="_fromCurrentUser ? 'ms-auto ps-12' : 'me-auto pe-12'">
          <div class="bg-highlight-emphasis max-w-lg text-left rounded-3xl p-3"
               [class]="_fromCurrentUser ? 'rounded-br-none' : 'rounded-bl-none'">
            <main>
              @if (_msg.image; as _img) {
              <app-image preview class="block mb-2 rounded-lg overflow-hidden max-h-[50vh]"
                         [width]="_img.width" [src]="_img.src" alt="{{ _img.alt || '' }}"
                         [height]="_img.height" />
              }
              @if (_msg.body) {
              <div class="mb-2 text-sm font-semibold tracking-wider">{{ _msg.body }}</div>
              }
            </main>
            <footer [class]="`text-muted-color leading-none *:leading-none *:align-bottom *:text-xs
                flex gap-1 justify-between`">
              @if (_fromCurrentUser) {
              @let _received = messages.hasBeenReceived(_msg, _chat,
              _user.username);
              @let _seen = messages.hasBeenSeen(_msg, _chat, _user.username);
              <span [aria-label]="_seen ? 'seen' : _received ? 'received' : 'sent'"
                    class="pi me-1.5" [class]="{
                  'pi-arrow-circle-up': !_seen && !_received,
                  'pi-check': !_seen && _received,
                  'pi-check-circle': _seen,
                }">
              </span>
              }
              <time [attr.datetime]="_msg.createdAt">
                {{ _msg.createdAt | date : 'shortTime' }}
              </time>
            </footer>
          </div>
        </article>
        }
        @let _msgDayDate = _msg.createdAt | date : 'mediumDate';
        @let _nextMsgDayDate = $last ? '' : _messages[$index + 1].createdAt |
        date : 'mediumDate';
        @if (_msgDayDate !== _nextMsgDayDate) {
        <div class="text-xs text-center text-muted-color">
          <time [attr.datetime]="_msg.createdAt | date : 'yyyy-MM-dd'">
            {{ _msgDayDate }}
          </time>
        </div>
        }
        }
        <div class="min-h-8 text-center">
          <app-list-loader pluralLabel="Messages" [listSize]="_messages.length"
                           [loadError]="messages.loadError()" [loading]="messages.loading()"
                           [hasMore]="messages.hasMore()" (loaded)="messages.load()" />
        </div>
      </div>
    </div>
    }@else {
    <div class="size-full flex flex-col justify-center">
      <p class="text-center text-muted-color leading-tight tracking-widest">New
        chat!</p>
    </div>
    }
  </div>
  @if (_chatId || _profileId) {
  <div>
    @if (_chatId && messages.chats.isDeadChat(_chatId, _user)) {
    <p-message severity="info"
               styleClass="rounded-none text-center **:mx-auto **:text-xs **:tracking-wider">
      This chat cannot receive new messages because the other member's profile
      have been deleted.
    </p-message>
    } @else {
    <app-message-form [chatId]="_chatId" [profileId]="_profileId" />
    }
  </div>
  }
</div>