@let _user = user(); @let _chatId = chatId(); @let _profileId = profileId(); @let _title = title();
<!-- prettier-ignore -->
@if (_chatId || _profileId) {
<div class="absolute size-full overflow-auto" [aria-label]="`${_title} chat room`">
  <nav
    [class]="`absolute top-0 left-0 w-full h-10 z-30 px-2 overflow-auto
      bg-(--p-content-background) border-surface border-b
    `"
  >
    <div
      [class]="`size-full absolute top-1/2 left-1/2 -translate-1/2 px-1 *:align-middle
        flex justify-between items-center *:odd:min-w-max *:odd:aspect-square
      `"
    >
      <button
        pButton
        pRipple
        text
        rounded
        outlined
        size="small"
        type="button"
        aria-label="Back"
        icon="pi pi-arrow-left"
        (click)="goBack()"
      ></button>
      <span
        [class]="`inline-block max-w-1/2 mx-auto truncate
        text-lg text-primary text-center font-bold tracking-wider
      `"
        [title]="_title"
      >
        {{ _title }}
      </span>
      <button
        pButton
        pRipple
        text
        rounded
        outlined
        size="small"
        type="button"
        aria-label="Refresh"
        icon="pi pi-refresh"
        (click)="refresh()"
      ></button>
    </div>
  </nav>
  <div
    #messagesContainer
    aria-live="assertive"
    aria-label="Messages"
    (scroll)="flushLoadMoreBtnWhenVisible()"
    [class]="`overflow-auto absolute w-full left-0 top-10 bottom-22 px-4
      flex flex-col-reverse
    `"
  >
    @if (messages.loading() || messages.loadError()) {
    <div class="absolute top-1/2 left-1/2 -translate-1/2 z-30 text-center text-sm p-2">
      @if (messages.loadError(); as _loadError) {
      <!-- prettier-ignore -->
      @if (_chatId) {
      <app-error-message [message]="_loadError" (retry)="messages.load(_chatId)" />
      } @else if (_profileId) {
      <app-error-message
        [message]="_loadError"
        (retry)="messages.loadByMemberProfileId(_profileId, _user.profile.id)"
      />
      } @else {
      <app-error-message [message]="_loadError" />
      }
      <!-- prettier-ignore -->
      } @else {
      <app-spinner ariaLabel="Loading messages..." />
      }
    </div>
    } @else if (_chatId) {
    <div>
      <div class="flex flex-col-reverse justify-end min-h-full">
        @let _messages = messages.list();
        <!-- prettier-ignore -->
        @for (_msg of _messages; track _msg.id) { @let
        _fromCurrentUser = _msg.profileName === _user.username;
        <div
          aria-label="Message"
          aria-atomic="true"
          class="bg-highlight-emphasis max-w-xs text-left rounded-2xl shadow p-3 space-y-2 my-2"
          [class]="`${
          _fromCurrentUser
            ? 'ms-auto rounded-br-none'
            : 'rounded-bl-none me-auto'
          }`"
        >
          <div class="text-sm font-semibold tracking-wider">{{ _msg.body }}</div>
          <div class="text-muted-color text-xs font-light tracking-tight leading-tight">
            {{ _msg.createdAt | date : 'mediumDate' }} at {{ _msg.createdAt | date : 'shortTime' }}
          </div>
        </div>
        }
        <div class="text-gray-500 text-center text-sm p-2 min-h-8">
          @if(messages.canLoadMore()) { @if(messages.loadingMore()) {
          <app-spinner ariaLabel="Loading more messages..." />
          } @else if (messages.loadMoreError(); as _loadMoreError) {
          <app-error-message [message]="_loadMoreError" (retry)="messages.loadMore(_chatId)" />
          } @else {
          <button
            #loadMoreBtn
            pButton
            pRipple
            text
            outlined
            type="button"
            (click)="messages.loadMore(_chatId)"
          >
            Load more
          </button>
          } }
        </div>
      </div>
    </div>
    }@else {
    <p class="text-center absolute top-1/2 left-1/2 -translate-1/2 z-30 text-muted-color">
      New chat!
    </p>
    }
  </div>
  <div class="absolute bottom-0 left-0 w-full h-20">
    @if (_chatId && messages.chats.isDeadChat(_chatId, _user)) {
    <p-message
      severity="info"
      class="block absolute size-full overflow-auto text-center **:text-xs **:font-bold **:tracking-wider"
      styleClass="rounded-none *:absolute *:w-full *:max-h-full *:top-1/2 *:left-1/2 *:-translate-1/2"
    >
      This chat cannot receive new messages because the other member's profile have been deleted.
    </p-message>
    } @else {
    <app-message-form
      [chatId]="_chatId"
      [profileId]="_profileId"
      class="block absolute size-full px-2 pb-2"
    />
    }
  </div>
</div>
}
